<div class="container ">
  <div class="row justify-content-center align-items-center">
      <div class="col-4">
          <ul *ngFor="let item of list1" class="list-group">
              <li class="list-group-item" style="cursor: pointer;" (click)="toggleList1Checkbox(item)"><input type="checkbox" value="item" [checked]="leftSelectedList.includes(item)" > {{item}}</li>
          </ul>
      </div>
      <div class="col-4 px-0">
        <ul class="row px-0">
          <div class="col-12 text-center mb-3">
            <button type="button" (click)="pushLeftToRight()" class="btn btn-primary rounded-circle">Right</button>
          </div>
          <div class="col-12 text-center">
            <button type="button" (click)="pushRightToLeft()" class="btn btn-primary rounded-circle">Left</button>
          </div>
          
        </ul>
    </div>
      <div class="col-4">
        <ul *ngFor="let item of list2" class="list-group">
          <li class="list-group-item" style="cursor: pointer;" (click)="toggleList2Checkbox(item)"><input type="checkbox" value="item" [checked]="rightSelectedList.includes(item)"  > {{item}}</li>
      </ul>
      </div>
  </div>
  <div class="row mt-3">
      <div class="col-6">
          
      </div>
      <div class="col-6">
          
      </div>
  </div>
</div>